@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 650px;
  max-height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
.title {
  margin-bottom: 40px;
  margin-top: 10%;
  width: 620px;
  line-height: 120px;
  height: 120px;
  background-color: rgb(240, 240, 52);
  border-radius: 10px;
  -webkit-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.title span {
  font-weight: 700;
}

.section-days {
  margin-bottom: 20px;
}

.section-numbers {
  display: flex;
  margin-bottom: 50px;
}

.days {
}
.block-numbers {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.digit {
  height: 100px;
  width: 80px;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  margin-bottom: 5px;
  background-color: rgb(240, 240, 52);
  border-radius: 10px;
  -webkit-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.subtitle {
  font-size: 30px;
  background-color: rgb(240, 240, 52);
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.button {
  width: 620px;
  height: 120px;
  line-height: 80px;
  font-size: 35px;
  background-color: rgb(240, 240, 52);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: black;
  -webkit-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.button:hover {
  background-color: rgb(224, 224, 42);
}

.button-awesome {
  margin-bottom: 40px;
}

.button-black {
  margin-bottom: 15%;
}
